@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&family=Permanent+Marker&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0B0B0D;
    font-family: 'Quicksand', sans-serif;
}
/*header style*/
header{
    background-color: #8d8c8c5f;
    width: 100%;
    height:  9vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo {
    height: 50px;
    width: auto;
}
.navigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 40px;
}
.navigation a{
    font-family: sans-serif;
    color: wheat;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navigation a:hover {
   
    color: #DDA74F; 
}
#Menu{
    margin: 3% 0 3% 0;
}
#check{
    display: none;
}
/*main section*/
.home {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    position: relative;
    text-align: center;
}
.home h1 {
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e4b95b;
    font-family: "Permanent Marker";
}
.home p {
    font-size: 20px;
    color: #faca7e;
    font-weight: 600;
}
/*menu section*/
.Menu {
    width: 100%;
    background-color: #0B0B0D;
    text-align: center;
    padding: 20px;
}
.Menu p{
    color:wheat;

    font-size: 18px;
    font-weight: 600;
    margin: 20px ;
    line-height: 30px;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.categories button {
    background: #DDA74F;
    font-family: "Permanent Marker";
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: color 0.3s ease;
}
.categories button:hover {
    background-color: #e4b95b; 
}
.categories .view-all {
    background: none;
    color: white;
    border: 1px solid #DDA74F;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card {
    width: 20%;
    height: 500px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}
.card img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.card h3 {
    margin: 10px 0;
    font-size: 25px;
    color: #FF9800;
    font-family: "Permanent Marker";
    font-weight: 500;
}
.card p {
    color: #DDA74F;
    font-size: 16px;
}
/*services section*/
.services {
    width: 100%;
    background: url("../image/offer-background.jpg") center center/cover fixed;
    text-align: center;
    padding: 60px 20px;
}
.services .container {
    max-width: 1200px;
    margin: 0 auto;
}
.services h2 {
    font-size: 32px;
    color: #e4b95b;
    margin-bottom: 20px;
}
.services p {
    font-size: 18px;
    color:wheat;
    margin-bottom: 40px;
}
.service-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.service-card {
    background: #222;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.service-card:hover {
    transform: translateY(-10px);
}
.service-card i {
    font-size: 40px;
    color: #DDA74F;
    margin-bottom: 10px;
}
.service-card h3 {
    font-size: 24px;
    color: #e4b95b;
    margin-bottom: 10px;
    margin-top: 15px;
}
.service-card p {
    font-size: 16px;
    color: wheat;
}
/*offers section*/
.offers {
    text-align: center;
    padding: 50px 20px;
    background: #0B0B0D;
}
.offers h2{
    font-size: 32px;
    color: #e4b95b;
    margin-bottom: 20px;
}
.offers p{
    font-size: 18px;
    color: wheat;
    margin-bottom: 40px;
}
.offer-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.offer-card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.offer-card img {
    width: 100%;
    border-radius: 10px;
}
.offer-card h3 {
    margin: 10px 0;
    color: #e4b95b;
}
.offer-card p {
    font-size: 14px;
    color: wheat;
}
.offer-card button {
    background: #faca7e;
    color: #222;
    font-family: "Permanent Marker";

    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.offer-card button:hover {
    background: #e4b95b;
}
/*footer*/
footer {
    background: url("../image/daytime_bg.jpeg") center center/cover fixed;
    backdrop-filter: blur(15px);
    opacity: 1;
    color: #222;
    padding: 30px 20px;
    text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}
.footer-container div {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.footer-logo img {
    width: 120px;
}
.footer-links a,
.footer-contact p {
    display: block;
    color: #222;
    margin: 8px 0;
}
.footer-social h3 , .footer-feedback h3{
    margin-bottom: 15px;
}
.footer-social a {
    color: #0B0B0D;
    font-size: 20px;
    margin: 8px;
}
.footer-feedback {
    flex: 1;
    min-width: 250px;
    text-align: left;
}
.footer-feedback textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #e4b95b;;
    resize: none;
    background-color: #faca7e;
    backdrop-filter: blur(5px);
}
.footer-feedback button {
    background-color: #faca7e;
    color: rgb(0, 0, 0);
    font-family: "Permanent Marker";
    border: none;
    padding: 10px 25px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #fff;
}
.footer-feedback button:hover {
    background: #38384898;
}



@media(max-width:900px){
    .home h1 {
        font-size: 50px;
    }
    .home p {
        font-size: 16px;
    } 
    #menu{
        display: block;
        color: #0B0B0D;
        font-size: 40px;
        cursor: pointer;
    }
    .navigation {
       position: absolute;
       top: 50px;
       left: -100%;
       width: 100%;
       transform: translate(0);
       display: flex;
       flex-direction: column;
       gap: 0;
       background-color: #222;
       transition: all .5s;
    }
    #check:checked ~ .navigation {
        left:0;
    }
    .navigation a{
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-bottom:1px solid #ffd86d;
    }
    .navigation a:hover{
        background-color: #FF9800;
        color: #222;
    }
    
    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .categories button {
        width: 100%;
        font-size: 18px; 
        padding: 12px;
    }
    .categories .view-all {
        grid-column: span 2;
        font-size: 20px;
        padding: 14px;
        text-align: center;
        width: 100%;
    }
    .products {
        flex-direction: column;
        align-items: center; 
    }
    .card {
        width: 80%;
    }
    
    .service-cards {
        flex-direction: column;
        align-items: center;
    }
    .service-card {
        max-width: 90%;
    }
}