
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&family=Permanent+Marker&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
.content h1{
  font-family: "Permanent Marker";
}

/* Utility Classes */
#search{
  margin-bottom: 10px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #f4f2ed;
}
.buttons{
  margin-bottom: 10px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #f4f2ed;
}
.buttons:hover{
  background: #e4b95b;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #e4b95b;
}

.primary-text {
  color: #e4b95b;
}

/* Header Start */
header {
  height: 100vh;
  background: url("../image/100256-طريقة-عمل-ستيك-اللحم-\(4\).jpg") center center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* Add exmple of greeen background */
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
}

header .content h1 {
  font-size: 40px;
  color: #929c92;
}

header .content p {
  color: #fff;
  margin: 20px 0 40px;
}

header * {
  z-index: 10;
}

.products {
  margin: 50px 0 50px 0;
  justify-content: center;
  

}
.card {
  background: #222;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card h3 {
  margin: 10px 0;
  font-size: 25px;
  color: #FF9800;
  font-family: "Permanent Marker";
  font-weight: 500;
}
.card p, i{
  color: #DDA74F;
}
.card i:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.card .p1,i{
  font-family: "Permanent Marker";
  color: #FF9800;
}
#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 2rem;

}
#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
}

#about .about-content p {
  margin-right: 7rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
}

#about img {
  max-width: 450px;
}

#about .about-content a {
  margin-top: 2rem;
}
/* About End */
/* Offers Section start */
.cont{
  margin: auto;
  max-width: 1100px;
}
#offers {
  background: url("../image/offer-background.jpg") center center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#offers h2 {
  color: #e4b95b;

}

#offers .title p {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

#offers .offers-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-items: center;
}

#offers .offers-items img {
  width: 70%;
  margin:auto;
}

#offers .offers-items h3 {
  font-size: 25px;
  color: #e4b95b;
  margin: 15px;
  font-family: "Permanent Marker";

}
#offers .offers-items i {
  color: #e4b95b;
  margin-bottom: 15px;
}
#offers .offers-items i:hover {
  cursor: pointer;
  transform: scale(1.1);
}


#offers .offers-items p {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

#offers .offers-items span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}

/* Offers Section end */
/* Menu Section Start */
#menu {
  background: #0B0B0D;
  padding: 4rem ;
}

#menu .title h2 {
  color: #e4b95b;
}
#menu .title p {
  color: #fff;
  font-weight: 500;
}

#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#menu .menu-items .menu-item img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

#menu .menu-items .menu-item h3 {
  color: #e4b95b;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}

#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}

#menu .menu-items .menu-item p {
  margin-top: 10px;
}

#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}

/* Menu Section End */
/* Daytime section Start */
#daytime {
  background: url("../image/daytime_bg.jpeg") center center/cover fixed no-repeat;
  color: #fff;
  text-align: center;
}

#daytime .daytime-items {
  padding: 3%;
  justify-content: center;
  align-items: center;
}

#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px -2px 10px;
}

#daytime .daytime-items p {
  font-weight: 500;
}
#daytime .daytime-item {
  justify-content: center;
  align-items: center;
  margin:0 5% ;
}
#daytime .daytime-item img{
  margin:auto;
}


/* Daytime section End */

/* Gallery section start */
#gallery {
  background: url("../image/offer-background.jpg") center center/cover fixed;
  padding: 5rem 0 6rem;
}
#gallery h2 {
  font-size: 40px;
  color: #e4b95b;
  text-align: center;
  margin-bottom: 30px;
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gallery .img-gallery img {
  margin: 20px;
  width: 280px;
  height: 200px;
  border-radius: 15px;
  opacity: 0.8;
}

#gallery .img-gallery img:hover {
  opacity: 1;
}
/* Gallery section end */
/* Contact Section start */
#contact {
  background: #f4f2ed;
  padding: 5rem 0;
}



form {
  width: 50%;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  color: #fff;
}

#formContainer {
  border: 1px solid #383838;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  background-color: #6b6b6b;
  backdrop-filter: blur(15px);
  z-index: 1000;
  padding: 20px; /* لون الخلفية */
  color: white; /* لون النص */
  position: fixed;
  top: 10px;
  left: 25%;
  z-index: 1000;
  border-radius: 5px;
  width: 700px;
  /* cursor: move; */
}

.btn-send{
  border: 0;
  background-color: #383848 ;
  border-radius: 50px;
  padding: 10px 50px;
  cursor: pointer;

}

.bill{
  background-color: #f4f2ed;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(87, 77, 77); 
  padding: 1em;
  position: absolute;
  top: -100%;
  left: 50%;
  text-align: center;
  width: 400px;
  transform: translate(-50%,-50%);
  transition: all .5s;
  opacity: 0;

}


.bill.open{
    opacity:1;
    top: 50%;
}

.bill img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: -50px;
}

.bill h2{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.bill .btn-close{
    width: 100px;
    border-radius: 50px;
    border: 0;
    padding: 15px;
    margin-top: 20px;
    background-color: #DDA74F;
    color: #383848;
    cursor: pointer;
    margin-right: 90px;



}

.bill .btn-stabilizing{
  width: 100px;
  border-radius: 50px;
  border: 0;
  padding: 15px;
  margin-top: 20px;
  background-color: #DDA74F;
  color: #383848;
  cursor: pointer;
}
#formContainer input {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}
#formContainer label,button {
  margin-left: 20px;
}
.hidden {
  display: none;
}
.flexed{
  display: flex;
}
.order-item{
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 3px;
 background-color: #e4b95b;
 margin-bottom: 5px;

}
/* Responsiveness */
/* Medium Screen + Tablet */
@media (max-width: 1000px) {

  header .content h1 {
    font-size: 28px;
  }


  #offers .offers-items img {
    width: 150px;
  }

  #offers .offers-items h3 {
    font-size: 18px;
  }
  /* Mobile Devices */
  @media (max-width: 600px) {

    header .content h1 {
      font-size: 18px;
    }

    header .content p {
      font-size: 14px;
    }

    #offers {
      height: auto;
      padding: 30px 10px;
    }

    #offers .offers-items {
      flex-direction: column;
    }

    #menu .menu-items .menu-item {
      margin: 20px 10px;
    }

    #daytime .daytime-items {
      height: auto;
      padding: 30px 0;
    }

    #daytime .daytime-items .daytime-item {
      margin-top: 20px;
    }
  }
}
